<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-language" content="en">
  <title>PatternGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/assets/global-branding', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/assets/guide/guide', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
